
    <div class="row p-3" style=" background-color: #00ff80;">
        <div class="col-9">
            <p><i class="fa-regular fa-copyright"></i> Design by Team 4</p>
        </div>
       <!-- <div class="col-3">
        <a href="https://www.facebook.com/maivanduy.fpoly/"><i class="fa-brands fa-facebook">Facebook</i></a>
        <a href="https://www.tiktok.com/@tynhifourmat"><i class="fa-brands fa-tiktok">Tiktok</i></a>
       </div> -->
        
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>