<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xóa bài viết</title>
    <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container col-5 alert alert-secondary m-auto">
        <div class="row "> 
            <h2>Xóa bài viết</h2>
            <span style="font-size: 20px;margin: 20px;">Bạn muốn xóa bài viết này?</span>
           <form method="post">
                <a style="background-color: #b7bbb9;font-weight: bold;" href="http://localhost:3000/Admin/BaiViet/DanhSach" class="btn col-3">Quay lại</a>
                <button style="background-color: #00ff80; font-weight: bold;" class="btn col-3" type="submit">Xóa bài biết</button>
           </form>
            
        </div>
       
    </div> 
</body>
</html>